/*Funentes*/
@font-face{
    font-family: "trebuchetMS";
    src: url(./fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "bebasNeue";
    src: url(./fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

/* style general*/

*{
    margin: 0px;   
    padding: 0px;
}
body{
    background-color: #fff;
}

#header #logo img{
    width: 44px;
}


#header #logoitens img{
    width: 25px;
}

#conteiner1 .clearfix{
    float: none;
    clear: both;
}

/*--------------------------------Cabeçera-------------------------------*/

#header{
    min-width: 1350px;
    width: 100%;
    height: 165px;
    margin:0px auto;
}

#header #wrap{
    width: 1170px;
    height: 165px;
    margin: 0px auto;
    /*overflow: hidden;*/
}

#header .info{
    display: block;
    background:#7ac847 ;
    height: 44px;
    color: white;
    line-height: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.3px;
}

#header .info p{
    padding-left: 138px;
}
#header .info input[type="submit"]{
    width: 99px;
    height: 30px;
    background: #fff;
    font-weight: bolder;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    margin-top: -37px;
    margin-right: 89px;
    float: right;
    transition: all 300ms;
}

#header .info input[type="submit"]:hover{
    background:rgb(250, 248, 248) ;
    border-radius: 5px;
}
/*----------------inicio titulo-----------------*/
#header #logo{
    display: block;
    float: left;
    height: 122px;
    line-height:151px ;
    cursor: pointer;
}

#header .drug {
    color: #7ac847;
}

#header a{
    float: right;
    line-height: 121px;
    text-decoration: none;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
/*----------------Fim titulo-----------------*/



/*----------------inicio search-----------------*/

#header  #form{
    float: left;
    height: 122px;
    line-height: 122px;
    margin-left: 44px;
}

#header .info2 input[type="text"]{
    width: 386px;
    height: 43px;
    border: 2px solid #7ac847;
    border-radius: 2px 0px 0px 2px;
    border-right: none;
    color: #333;
}

#header .info2 input[type="submit"]{
    width: 116px;
    height: 47px;
    background-color: #7ac847;
    color: white;
    border: 2px solid #7ac847;
    border-radius: 0px 2px 2px 0px;
    font-size: 14px;
    font-weight: bold;
    margin-left: -4px;
    cursor: pointer;
    transition: all 300ms;
}

#header  input[type="submit"]:hover{
    background-color:#3b6221 ;
    border-radius: 0px 2px 2px 0px;
    border: none;
}

/*----------------Fim search-----------------*/

/*----------------Inicio iconos items-----------------*/

#header #logoitens{
    display: block;
    float: left;
    height: 35px;
    margin-left: 15px;
    margin-top: 45px;
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
}

#header #logoitens .list{
    display: block;
    float: right; 
    margin-left: 10px;
}
#header #logoitens .list p:hover{
    color: #7ac847;
    transition: all 600ms;
    text-shadow: 0px 0px 1px #7ac847;
}
/*----------------Fim iconos items-----------------*/



/*--------------------------------Fim cabecera--------------------------------*/

/*--------------------------------Inicio Menu--------------------------------*/

#menu{
    border: 1px solid rgb(235, 232, 232);
    width: 100%;
    height: 60px;
}

#menu ul{
    width: 1170px;
    height: 60px;
    margin: 0px auto;
}

#menu ul li{
    display: block;
    float: left;
    list-style: none;
    border-right: 1px solid rgb(235, 232, 232);

}
#menu ul li:last-child{
    border-left: 1px solid rgb(235, 232, 232);
}
#menu ul li:first-child{
    border-left: 1px solid rgb(235, 232, 232);
}


#menu ul li a{
    line-height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color:#333 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17px;
}
#menu ul li a:hover{
    color:#7ac847 ;
    transition: all 500ms;
}


#menu img{
    display: block;
    float: left;
    width: 35px;
    margin-left: 20px;
    margin-top: 14px;
}


#menu ul li:last-child{
    float: right;
    cursor: pointer;
}
#menu ul li .menu_login{ 
    color: #7ac847;
}
#menu ul li .menu_login:hover{ 
    color: #333;
}

/*--------------------------------Fim Menu--------------------------------*/




/*----------------------------------Inicio contenido--------------------------*/

#conteiner1 {
    border: 1px solid rgb(235, 232, 232);
    width:1170px ;
    height: 1300px;
    margin: 0px auto;
    margin-top: 40px;

}

/*---------- Inicio aside------------------*/

#conteiner1 #aside{
    border: 1px solid #7ac847;
    float: left;
    width:270px ;
    height: 665px;
}

#conteiner1 .titulo{
    width: 100%;
    height: 60px;
    background-color: #7ac847;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}
#conteiner1 .titulo h3{
    line-height: 60px;
    margin-left: 30px;
}

#conteiner1 .categorias ul li{
    display: block;
    width: 100%;
    height: 49.5px;
    border-bottom: 1px solid rgb(235, 232, 232);
}
#conteiner1 .categorias ul li:last-child{
    border-bottom: none;
}
#conteiner1 .categorias ul li a{
    display: block;
    line-height:50px ;
    margin-left: 30px;
    text-decoration: none;
    color: rgb(160, 160, 160);
    transition:all 300ms;
}




#conteiner1 .categorias ul li a span:last-child{
    display: block;
    float: right;
    margin-right: 40px;
    font-weight: bold;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif ;
}
#conteiner1 .categorias ul li a span{
    color:#7ac847 ;
}
#conteiner1 .categorias ul li a span:hover{
    display: block;
    text-shadow:0px 0px 3px #7ac847;
}



#conteiner1 .categorias ul li a:hover{
    display: block;
    cursor: pointer;
    color: black;
}

/*---------- Fim aside------------------*/



#conteiner1 #box-img{
    border: 1px solid #7ac847;
    float: right;
    width:870px ;
    height: 442px;
    overflow: hidden;
    cursor: pointer;
    
}

/*--------------- para hacer pasar las imagenes--------------*/
#conteiner1 #box-img img{
    width: 870px;
    height: 442px;
}
#conteiner1 #box-img  ul{
    display: flex;
    width: 300%;

    animation: cambio 13s infinite ;
    animation-timing-function: ease-in;
}
#conteiner1 #box-img > li{
    list-style: none;
    display: flex;
    height: 442px;
}

@keyframes cambio{
    0%{ margin-left: 0 ; }
    20%{ margin-left: 0 ; }

    25%{ margin-left: -100% ; }
    45%{ margin-left: -100% ; }

    50%{ margin-left: -200% ; }
    70%{ margin-left: -200% ; }

    /*75%{ margin-left: -200% ; }
    100%{ margin-left: -200% ; }*/

}

/*--------------- Fim hacer pasar las imagenes--------------*/




#conteiner1 #box-desconto{
    border: 1px solid #7ac847;
    float: left;
    width:425px ;
    height: 200px;
    background-color: #7ac847;
    margin-top: 21px;
    margin-left: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
}
#conteiner1 #box-desconto h3{
    margin-top: 55px;
    font-family:"trebuchetMS" ;
    font-size: 30px;
}


#conteiner1 #box-frete{
    border: 1px solid #5ec0fd;
    float: right;
    width:425px ;
    height: 200px;
    background-color: #5ec0fd;
    margin-top: 21px;
    color: white;
    text-align: center;
    cursor: pointer;
}

#conteiner1 #box-frete h3{
    margin-top: 55px;
    font-family:"trebuchetMS" ;
    font-size: 30px;
}




#conteiner1 #box-produtos{
    border: 1px solid rgb(235, 232, 232);
    float: right;
    width: 870px ;
    height: 600px;
    margin-top: 32px;
}
#conteiner1 #box-produtos .aside{
    float: left;
    width: 60px;
    height: 100%;
    background-color: #f9f9f9;
}
#conteiner1 #box-produtos .vertical{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    writing-mode: vertical-rl;
    margin-left: 15px;
    padding-top: 20px;
    
}


/*----------------Inicio menu_produtos-------------------*/
#conteiner1 #box-produtos  .menu_produtos{
    width: 810px;
    float: right;
    height: 60px;
    border-bottom: 1px solid rgb(235, 232, 232);
}


#conteiner1 #box-produtos .menu_produtos ul li{
    display: block;
    text-align: center;
    list-style:none;
    width: 100px;
    height: 100%;
    float: left;
    border-bottom: none;
    cursor: pointer;
}

#conteiner1 #box-produtos .menu_produtos  a{
    display: block;
    text-decoration: none;
    color: rgb(160, 160, 160);
    line-height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: all 600ms;
}

#conteiner1 #box-produtos .menu_produtos li:nth-child(1) a{
    color: #7ac847;
}

#conteiner1 #box-produtos .menu_produtos li:nth-child(2) a:hover{
    color: #7ac847;
}
#conteiner1 #box-produtos .menu_produtos li:nth-child(3) a:hover{
    color: #7ac847;
}

/*----------------Fim menu_produtos-------------------*/



/*--------------botao menu_produtos------------------*/

#conteiner1 #box-produtos .menu_produtos ul li:last-child{
    float: right;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

#conteiner1 #box-produtos .menu_produtos ul li:last-child input[type="submit"]{
   background-color: #f0f0f0;
   width: 35px;
   height: 35px;
   border:none;
   color:rgb(160, 160, 160) ;
   font-size: 30px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
   font-weight: bold;
   border-radius: 3px;
   transition: all 300ms;
   cursor: pointer;
}
#conteiner1 #box-produtos .menu_produtos ul li:last-child input[type="submit"]:hover{
    color: black;
    text-shadow: 0px 0px 2px black inset;
}
/*----------------Fim menu_Produtos botao-------------------*/



/*----------------- Inicio de las imagenes produtos -------------*/

#conteiner1 #box-produtos .produtos{
    float: left;
    width: 269.33px;
    height: 470px;
}

#conteiner1 #box-produtos .borda1{
    border-left:1px solid rgb(235, 232, 232);
    border-right:1px solid rgb(235, 232, 232);
}

#conteiner1 #box-produtos .produtos .box-img img{
    width: 100px;
    height: 160px;
}

#conteiner1 #box-produtos .produtos .porcentagem{
    float: left;
    width: 20%;
    height: 60px;
}

#conteiner1 #box-produtos .produtos .porcentagem p{
    width:45px;
    height: 21px;
    text-align: center;
    background-color: #fc5858;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    line-height: 20px;
    border-radius: 2px;
    margin-top: 20px;
    float: right;
}



#conteiner1 #box-produtos .produtos .box-img{
    float: left;
    width: 60%;
    height: 50%;
}

#conteiner1 #box-produtos .produtos .box-img img{
    margin-top: 20px;
    width: 160px;
    height: 210px;
    
}



#conteiner1 #box-produtos .produtos .novo{
    float: left;
    width: 20%;
    height: 60px;
}

#conteiner1 #box-produtos .produtos .novo p{
    width:45px;
    height: 21px;
    text-align: center;
    background-color: #5ec0fd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    line-height: 20px;
    border-radius: 2px;
    margin-top: 20px;
    float: left;
}

#conteiner1 #box-produtos .produtos .texto{
    float: left;
    width: 269.333px;
    height: 80px;
}
#conteiner1 #box-produtos .produtos .texto h4{
    margin-top: 13px;
    margin-left: 8.8667px;
    color: #333;
    font-family: sans-serif;
}
#conteiner1 #box-produtos .produtos .texto s{
    float: left;
    margin-left: 8.8667px;
    margin-top:10px;
    color: rgb(255, 55, 55);
}
#conteiner1 #box-produtos .produtos .texto h5{
    float: left;
    margin-left: 9px;
    margin-top:10px;
    font-family: sans-serif;
    font-size: 16px;
}

#conteiner1 #box-produtos .produtos  .caixa-botao{
    float: left;
    width: 269.333px;
    height: 60px;
}

#conteiner1 #box-produtos .produtos  .caixa-botao .caixa-carrinho img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    
}
#conteiner1 #box-produtos .produtos .caixa-botao .caixa-carrinho p{
    float: left;
    margin-left: 7px;
    margin-top: 13px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

#conteiner1 #box-produtos .produtos  .caixa-botao .caixa-carrinho{
    width: 170px;
    height: 44px;
    background-color: #7ac847;
    margin-left: 8.8667px;
    border-radius: 3px;
    transition: all 600ms;
}
#conteiner1 #box-produtos .produtos  .caixa-botao .caixa-carrinho:hover{
    background-color:#3b6221 ;
    cursor: pointer;
}

#conteiner1 #box-produtos .produtos .add{
    float: left;
    width: 269.333px;
    height: 96px;
}

#conteiner1 #box-produtos .produtos .add .img1{
    float: left;
    width: 100%;
    height: 48px;
}
#conteiner1 #box-produtos .produtos .add .img2{
    float: left;
    width: 100%;
    height: 48px;
}

#conteiner1 #box-produtos .produtos .add img{
    float: left;
    width: 15px;
    height: 15px;
    margin-left: 8.8667px;
    margin-right: 15px;
    margin-top: 23px;
    cursor: pointer;
}
#conteiner1 #box-produtos .produtos .add .img1 p{
    margin-top: 23px;
}
#conteiner1 #box-produtos .produtos .add .img2 img{
    margin-top: 0px !important;
}
#conteiner1 #box-produtos .produtos .add p{
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all 600ms;
}
#conteiner1 #box-produtos .produtos .add p:hover{
    color: #7ac847;
    cursor: pointer;
}



/*----------------- Fim de las imagenes produtos -------------*/






/*----------------- Inicio footer del box-produtos -------------*/

#conteiner1 #box-produtos .listProduto{
    float: left;
    width: 810px;
    height: 70px;
    border-top: 1px solid rgb(235, 232, 232);
}
#conteiner1 #box-produtos .listProduto input{
    display: block;
    float: right;
    width:150px;
    height: 33px;
    margin-top:17px;
    margin-right: 25px;
    border-radius: 3px;
    background-color:#fff;
    border: 1px solid #eeeeee;
    font-family: sans-serif;
    font-weight: bold;
    color: #7ac847;
    transition: all 500ms;
}
#conteiner1 #box-produtos .listProduto input:hover{
    color: black;
    cursor: pointer;
}



/*----------------- Fim footer del box-produtos -------------*/









#conteiner2{
    border: 1px solid rgb(235, 232, 232);
    width:1170px ;
    height: 520px;
    margin: 0px auto;
    margin-top: 10px;

}

#conteiner2 #view1{
    width: 100%;
    height: 225px;
    background-color: #7ac847;
    text-align: center;
    line-height: 70px;
    color: white;
}
#conteiner2 #view1 h1{
    font-family: sans-serif;
    font-size: 35px;
}
#conteiner2 #view1 h3{
    font-family: sans-serif;
    font-size: 15px;
}
#conteiner2 #view1 input{
    background-color:#fff ;
    color: #7ac847;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 500ms;
}
#conteiner2 #view1 input:hover{
    border: 1px solid #3c8d05;
    color: black;
}







#conteiner2 #view2{
    float: left;
    width:1170px;
    height: 295px;
}
#conteiner2 #view2 .lista{
    float: left;
    width: 390px;
    height: 295px;
}
#conteiner2 #view2 .lista ul{
    margin-top: 50px;
}
#conteiner2 #view2 .lista li{
    width: 390px;
    height: 45px;
    list-style: none;
    margin-left: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#conteiner2 #view2 .lista li img{
    display: block;
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}



/*----------------------------------Fim contenido--------------------------*/





#footer{
    border: 1px solid rgb(235, 232, 232);
    width:1170px ;
    height: 65px;
    margin: 0px auto;
    margin-top: 5px;
}
#footer p{
    line-height: 65px;
}